footer.row-8{
    background-color: #0e0e0e;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div.container{
        display: flex;

        section{
            margin: 40px;
            p{
                color: #717171;
                margin: 10px;
            }
            h3{
                color: #fff;
            }
            ul{
                li{
                    color: #717171;
                    margin: 5px;
                    a{
                        color: #717171;
                    }
                }
            }
        }
        article{

            p.p1{
                border-bottom: 1px solid #717171;
                padding: 15px;
            }
            p{
                padding: 10px;
            }
        }
    }
}